{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block content %}

<div class="container mt-5 pt-4">
    
  <div class="col-10 mx-auto">
      <h3 class="text-center">Fill!DL-form</h3>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.first_name|as_crispy_field}}
          </div>

          <div class="form-group col-md-6">
            {{form.last_name|as_crispy_field}}
            </div>         
    
      <div class="form-group col-md-6">
        {{form.dob|as_crispy_field}}
    </div>

    <div class="form-group col-md-6">
      {{form.place_of_birth|as_crispy_field}}
    </div>
  </div>
    
  <div class="form-group">
    {{form.gender|as_crispy_field}}
  </div>    
  

        <div class="form-group">
          {{form.address1|as_crispy_field}}
        </div>
        <div class="form-group">
          {{form.address2|as_crispy_field}}
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.city|as_crispy_field}}
          </div>
          <div class="form-group col-md-4" id="state">
            {{form.state|as_crispy_field}}
          </div>
          <div class="form-group col-md-2">
            {{form.zipcode|as_crispy_field}}
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
  
  </div>
  
</div>



<div class="container">
  <div class="zipcode">
      <input type="text" id="zipcode" value="" required>
      <label for="zipcode">Zip code...</label>
      <span class="indicator">
          <i class="ri-close-circle-fill ri icon"></i>
      </span>
  </div>
  <p class="info">Type valid zip code</p>
  <p class="info2">Show</p>

  </div> 


{% endblock content %}

{% block js %}
<script>
  var input = document.querySelector('#zipcode');
  console.log(input)
  var indicator = document.querySelector('.ri');
  var info = document.querySelector('.info');
  var info2 = document.querySelector('.info2');

  var codelength = /^\d{6}$/

  input.addEventListener('keyup', () => {
      if (input.value.match(codelength)) {
          $.ajax({
              type: "GET",
              url: "https://api.postalpincode.in/pincode/" + input.value,

              success: (response) => {
                  info.innerHTML = (response[0].PostOffice[0].Name);
                  info2.innerHTML = (response[0].PostOffice[0].State);

              }
          });

          indicator.classList.add('ri-checkbox-circle-fill');
          indicator.classList.remove('ri-close-circle-fill');
      }

      else {
          indicator.classList.add('ri-close-circle-fill');
          indicator.classList.remove('ri-checkbox-circle-fill');
          info.innerHTML = "Type valid zipcode";
      }

  }); 
</script>
{% endblock js %}