{% extends 'base.html' %}
 {% load crispy_forms_tags %} 

{% block title %}DL-form{% endblock title %}
 {% block content %}
 <div class="container mt-5 pt-4">
  <div class="zipcode">
    
  <div class="col-10 mx-auto">    
      <h3 class="text-center">Fill!DL-form</h3>
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="background-color:#F08080">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}

      <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.first_name|as_crispy_field}}
          </div>

          <div class="form-group col-md-6">
            {{form.last_name|as_crispy_field}}
          </div>         
    
          <div class="form-group col-md-6">
            {{form.dob|as_crispy_field}}
          </div>

          <div class="form-group col-md-6">
            {{form.place_of_birth|as_crispy_field}}
          </div>
          </div>
          
          <div class="form-group">
            {{form.gender|as_crispy_field}}
          </div>    
  
        <div class="form-group">
          {{form.address1|as_crispy_field}}
        </div>

        <div class="form-group">
          {{form.address2|as_crispy_field}}
        </div>

        <div class="zipcode">
        <div class="form-group col-md-2" id="zipcode">
          <span class="indicator">
            <i class="ri-close-circle-fill ri icon">{{form.zipcode|as_crispy_field}}</i>
          </span>          
        </div>
       
        <div class="form-row">
          <div class="form-group col-md-6" id="info">
            {{form.city|as_crispy_field}}
          </div>
          <div class="form-group col-md-4" id="info2">
            {{form.state|as_crispy_field}}
          </div>
        </div>

        <div>
        <div class="form-group col-md-4" id="info2">
          {{form.image|as_crispy_field}}
          <img src="{{ image.url }}" alt="">          
        </div>   
        
        <div class="form-group col-md-4" id="info2">
          {{form.file|as_crispy_field}}
        </div> 
      </div>

        <div class="form-group col-md-4" id="info2">
          {{form.captcha|as_crispy_field}}
        </div>
        
        <div class="p-2">
          <div class="d-flex flex-row align-items-start">
          {{form.comments|as_crispy_field}}
        </div>
        </div>

      </div>
       
        <div class="form-group col-md-4" id="info2">
          {{form.agree|as_crispy_field}}
        </div>

        <button type="submit" class="btn btn-primary" onclick='return confirm("Are You Sure to submit..!")'>Submit</button>
      </form>
  
  </div>
  </div>
</div>

{% endblock content %} 

{% block ajax %}
<script>
  var input = document.querySelector("#id_zipcode");
  var indicator = document.querySelector(".ri");
  var info = document.querySelector(".info");
  var info2 = document.querySelector(".info2");

  var codelength = /^\d{6}$/;

  input.addEventListener("keyup", () => {
    if (input.value.match(codelength)) {
      $.ajax({
        type: "GET",
        url: "https://api.postalpincode.in/pincode/" + input.value,

        success: (response) => {
          console.log('response--->', response)
          $("#id_city").val(response[0].PostOffice[0].Name)
          $('#id_state').val(response[0].PostOffice[0].State)
//          info.innerHTML = response[0].PostOffice[0].Name;
//          info2.innerHTML = response[0].PostOffice[0].State;
        },
      });

      indicator.classList.add("ri-checkbox-circle-fill");
      indicator.classList.remove("ri-close-circle-fill");
    } else {
      indicator.classList.add("ri-close-circle-fill");
      indicator.classList.remove("ri-checkbox-circle-fill");
      info.innerHTML = "Type valid zipcode";
    }
  });
</script>
{% endblock ajax %}
