<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %}
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/geocode/json?address=92102&key=YOUR_API_KEY"
    ></script>
    {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
    <script src="{% static 'style.css' %}"></script>
   
    <title>get city</title>
  </head>
  <body>
    <div class="container">
      <div class="zipcode">
        <input type="text" id="zipcode" value="" required />
        <label for="zipcode">Zip code...</label>
        <span class="indicator">
          <i class="ri-close-circle-fill ri icon"></i>
        </span>
      </div>
      <p class="info">Type valid zip code</p>
      <p class="info2">Show</p>
    </div>


    <script>
      var input = document.querySelector("#zipcode");
      var indicator = document.querySelector(".ri");
      var info = document.querySelector(".info");
      var info2 = document.querySelector(".info2");
    
      var codelength = /^\d{6}$/;
    
      input.addEventListener("keyup", () => {
        if (input.value.match(codelength)) {
          $.ajax({
            type: "GET",
            url: "https://api.postalpincode.in/pincode/" + input.value,
    
            success: (response) => {
              console.log('response--->', response)
           //   $("#id_city").val(response[0].PostOffice[0].Name)
           //   $('#id_state').val(response[0].PostOffice[0].State)
              info.innerHTML = response[0].PostOffice[0].Name;
              info2.innerHTML = response[0].PostOffice[0].State;
                  
            },
          });
    
          indicator.classList.add("ri-checkbox-circle-fill");
          indicator.classList.remove("ri-close-circle-fill");
        } else {
          indicator.classList.add("ri-close-circle-fill");
          indicator.classList.remove("ri-checkbox-circle-fill");
          info.innerHTML = "Type valid zipcode";
        }
      });
    
    </script>
  </body>
</html>
