{% extends 'base.html' %}

{% block title %}Sign-up{% endblock title %}

{% block content %}
<div class="container mt-5 pt-4">   
    <div class="col-6 mx-auto">
        <h3 class="text-center">Register here..!</h3>
        <form method="post">
            {% csrf_token %}

            {% if message %}
            <div class="alert alert-{{class}}">
                {{message}}
            </div>
            {% endif %}

            <div class="row">
                <div class="form-group col-12">
                    <input type="text" placeholder="username" class="form-control" name="username" id="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <input type="text" placeholder="Mobile" class="form-control" name="mobile_no" id="">
                </div>
            </div>

            <p>Already have account <a href="{% url 'login' %}">Login</a></p>
            <button class="btn btn-primary">signup</button>
        </form>
    </div>

</div>
{% endblock content %}